@font-face {
    font-family: normalFont;
    src: url(source/Futbol_Fanatik/gilroy-light.otf);
}

@font-face{
    font-family: boldFont;
    src: url(source/Futbol_Fanatik/gilroy-extrabold.otf);
}

html,
body {
  height: 100%;
  font-family: normalFont;
  width: 100%;
}

.navbar {
    padding: 0.5rem 3rem;
    font-family: boldFont;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand{
    padding: 0;
    vertical-align: middle;
}

.bg-theme {
    color: black;
    background-color: #fbcb04;
}

.brand-name {
    display: inline-block;
    font-size: 1rem;
    line-height: .9rem;
    width: 65px;
    height: 30px;
}

.navbar-menu-button {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.container-fluid {
    color: #fbcb04;
    padding-left: 0%;
    padding-right: 0%;
}
.jumbotron{
    background-image: url(source/Futbol_Fanatik/Picture_Frontpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    font-family: boldFont;
    font-size: larger;
    color: #fbcb04;
    height: 20rem;
    padding: 0;
}

.poster {
    height: 100%;
}
.intro1 {
    font-family: normalFont;
    font-size: 2rem;
    text-align: right;
}

.intro2 {
    
    font-family: boldFont;
    font-size: 2rem;
    text-align: right;
}

.intro3 {
    
    font-family: normalFont;
    font-size: 1rem;
    text-align: right;
}

.booking-banner {
    background-color: #fbcb04;
    background-image: url(source/Futbol_Fanatik/Bol.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: bottom;
    height: max-content;
    color: #fbcb04;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0.5rem;
}

.booking-filter {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: black;
    height: fit-content
}

.game-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: max-content;
}

.game-header {
    background-color: black;
    /* margin-bottom: 0.2rem; */
    z-index: 1;
    clip-path:polygon(0 0, 100% 0, 95.5% 100%, 0% 100%);
    padding-left: 1.5rem;
    padding-top: 1rem;
    font-family: boldFont;
    font-size: 1.8rem;
}

.game-detail {
    background-color: white;
    color: black;
    /* margin-top: 0.2rem; */
    margin-left: -1rem;
    padding-left: 4rem;
    z-index: 0;
    position: relative;
    right: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.game-card .row {
    height: max-content;
    padding: 0
}

.footer {
    background-color: black;
    color: #fbcb04;
    font-family: boldFont;
    height: max-content;
    padding-bottom: 2rem;
}

.shadow {
    box-shadow: 3px 2px 0px rgba(0,0,0,.4)!important;
}

.panel {
    padding-top: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-family: boldFont;
    font-size: 1.8rem;
}

.booking-for {
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(source/Futbol_Fanatik/Mockup/Booking.png);
    background-size: cover;
}

.booking-date {
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(source/Futbol_Fanatik/Mockup/Calendar.png);
    background-size: cover;
}

.booking-type {
    font-size: 0.8rem;
    font-family: boldFont;
    line-height: 0rem;
}

.input-group-text {
    border: 0;
    border-radius: 0;
    background-color: white;
}

.form-control {
    border: 0;
    border-radius: 0;
}

.col-md-3 {
    padding-right: 4rem;
}

.logo {
    background-image: url(source/Futbol_Fanatik/Mockup/Logo.jpg);
    width: 15rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
}

.flex-width-30 {
    width: 30rem;
}

.flex-width-25 {
    width: 25rem;
}

.padding-4 {
    padding: 0% 4%;
}